@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) { */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
/* } */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.input {
  @apply p-2 border-2 border-black rounded-lg w-full text-black;
}

.btn-primary {
  @apply text-white px-4 py-2 bg-pink-600 border-2 border-pink-700 rounded-md cursor-pointer capitalize disabled:bg-pink-300 disabled:text-black;
}

.btn-home {
  @apply bg-pink-600 px-4 py-2 border-2 border-pink-400 text-white rounded-md cursor-pointer;
}
